---
layout: default
title: {{ site.name }}
---

<h3 class="home__header">
  Un guide pour créer votre coopérative ouvrière<br>
  à destination des indépendant·e·s dans l’informatique
</h3>

<ol class="home__articles">
  <li>
    <a href="{% link _guide/pourquoi-creer-une-cooperative.markdown %}">
      Pourquoi créer une coopérative à partir d’un groupe de travailleurs indépendants ?
    </a>
  </li>
  <li>
    <a href="{% link _guide/qu-est-ce-qu-une-cooperative-de-travailleurs.markdown %}">
      Qu’est-ce qu’une coopérative de travailleurs ?
    </a>
  </li>
  <li>
    <a href="{% link _guide/comment-creer-une-cooperative.markdown %}">
      Comment créer une coopérative de travailleurs ?
    </a>
  </li>
  <li>
    <a href="/temoignages.html">Témoignages de coopératives</a>
  </li>
</ol>

<p class="home__credits">Ce guide est en grande partie traduit du « <a href="https://institute.coop/resources/technology-freelancers-guide-starting-worker-cooperative"> A Technology Freelancer’s Guide To Starting a Worker Cooperative</a> », publié par le <em>Network of American Tech Worker Cooperatives</em> (NATWC) en 2009.</p>

<p class="home__credits">Ce travail est en version beta : la traduction est encore en cours, et certaines pages ne sont pas encore complètes. <a href="{% link apropos.markdown %}">Plus de détails</a>.</p>
